@model Bookstore.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1>Erro 400 Bad Request</h1>
<h2 class="text-muted">Um erro ocorreu enquanto processava a sua requisição.</h2>
<h3 class="text-muted">@Model.Message</h3>

@if (Model.ShowRequestId)
{
    <p>
        <strong class="text-muted">Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}


